
target/
dbt_packages/
logs/

src/__pycache__/
src/loader/__pycache__/
src/loader/spark-warehouse/

terraform/.terraform/
terraform/*.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/output.json